<h4 ng-if="hasTitle" ng-class="$ctrl.css.pageTitle">{{num + $ctrl.page.processedTitle}}</h4>
<div ng-repeat="row in rows" ng-if="row.visible" ng-class="$ctrl.css.row">
    <div ng-repeat="question in row.questions" ng-class="$ctrl.css.question.root" style="vertical-align:top" id="row.id" ng-style="{display: question.visible ? 'inline-block': 'none', marginLeft: getIndentSize(question, question.indent), paddingRight: getIndentSize(question, question.rightIndent), width: question.renderWidth }">
        <h5 ng-if="question.hasTitle && $ctrl.survey.questionTitleLocation === 'top'" ng-class="$ctrl.css.question.title">{{question.fullTitle}}</h5>
        <survey-errors question="question" css="$ctrl.css"></survey-errors>
        <survey-component type="question.getType()"></survey-component>
        <div ng-if="question.hasComment">
            <div>{{question.commentText}}</div>
            <survey-comment question="question" isEditMode="$ctrl.survey.isEditMode" css="$ctrl.css"></survey-comment>
        </div>
        <h5 ng-if="question.hasTitle && $ctrl.survey.questionTitleLocation === 'bottom'" class="$ctrl.css.question.title">{{question.fullTitle}}</h5>
    </div>
</div>