<div :class="css.radiogroup.root">
    <div ng-repeat="item in $ctrl.question.visibleChoices" :class="css.radiogroup.item" :style="{'width': colWidth, 'margin-right': question.colCount === 0 ? '5px': '0px'}">
        <label :class="css.radiogroup.item">
            <input type="radio" :name="question.name" :value="item.value" :id="question.inputId + '_' + item.value" v-model="question.value" :disabled="!isEditMode" />
            <span>{{item.text}}</span>
        </label>
    </div>
    <survey-other-choice v-show="question.hasOther && isOtherSelected" :class="css.radiogroup.other" :question="question" :isEditMode="isEditMode" :css="css"/>
</div>